In [0]:
import sqlite3 
connectionToDatabase = sqlite3.connect('AmusementParkData') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS ConcessionsTable''')
connectionToDatabase.commit()

cursor.execute('''create table ConcessionsTable (concessionID PRIMARY KEY, name, location, foodtype,  employeeID)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS rideTable''')
connectionToDatabase.commit()

cursor.execute('''create table rideTable (rideID PRIMARY KEY, name, location, intensity, waittime, employeeID)''')
connectionToDatabase.commit()
 
cursor.execute('''drop table IF EXISTS salesTable''')
connectionToDatabase.commit()

cursor.execute('''create table salesTable (saleID PRIMARY KEY, customerID, foodID, employeeID, concessionID)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS customerTable''')
connectionToDatabase.commit()

cursor.execute('''create table customerTable (customerID PRIMARY KEY, name, email, age, gender, passtype)''')

cursor.execute('''drop table IF EXISTS employeeTable''')
connectionToDatabase.commit()

cursor.execute('''create table employeeTable (employeeID PRIMARY KEY, FirstName, LastName, ExperiecneLevel)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS foodTable''')
connectionToDatabase.commit()

cursor.execute('''create table foodTable (concessionID PRIMARY KEY, price, size, vegan, glutton free)''')
connectionToDatabase.commit()

for line in AmusementParkData.split("\n")[1:]:
  data = line.split(",")
  insertStatement =  """insert into ConcessionsTable values ("%s",%s,%s,%s)""" % (data[0],data[1],data[2],data[3])
  cursor.execute(insertStatement)
  connectionToDatabase.commit()

NameError: ignored

In [1]:
import sqlite3 
connectionToDatabase = sqlite3.connect('AmusementParkData') 
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS ConcessionsTable''')
connectionToDatabase.commit()

cursor.execute('''create table ConcessionsTable (concessionID PRIMARY KEY, name, location, foodtype,  employeeID)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS rideTable''')
connectionToDatabase.commit()

cursor.execute('''create table rideTable (rideID PRIMARY KEY, name, location, intensity, waitTime, employeeID)''')
connectionToDatabase.commit()
 
cursor.execute('''drop table IF EXISTS salesTable''')
connectionToDatabase.commit()

cursor.execute('''create table salesTable (saleID PRIMARY KEY, customerID, foodID, employeeID, concessionID)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS customerTable''')
connectionToDatabase.commit()

cursor.execute('''create table customerTable (customerID PRIMARY KEY, name, email, age, gender, passtype)''')

cursor.execute('''drop table IF EXISTS employeeTable''')
connectionToDatabase.commit()

cursor.execute('''create table employeeTable (employeeID PRIMARY KEY, FirstName, LastName, ExperienceLevel)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS foodTable''')
connectionToDatabase.commit()

cursor.execute('''create table foodTable (foodID PRIMARY KEY, price, size, vegan, glutton free)''')
connectionToDatabase.commit()

insertStatement =  """insert into foodTable values ('Taco', '4.00', 'Medium', 'Not-Vegan', 'Glutton Free')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into foodTable values ('Wings', '5.00', 'Large', 'Not-Vegan', 'Glutton Free')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into foodTable values ('Ice Cream', '3.00', 'Small', 'Vegan', 'Glutton Free')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into foodTable values ('Burger', '4.00', 'Medium', 'Vegan', 'Glutton')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into foodTable values ('Fish Sticks', '4.00', 'Medium','Not-Vegan', 'Glutton')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

insertStatement =  """insert into employeeTable values ('E001', 'Rich', 'Miller', 'Beginner')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into employeeTable values ('E002', 'Andy', 'Ricter', 'Long-Time')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into employeeTable values ('E003', 'Mandy', 'Albin', 'Manager')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into employeeTable values ('E004', 'Sarah', 'Crea', 'Long-Time')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into employeeTable values ('E005', 'Tara', 'Creek', 'Beginner')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

insertStatement =  """insert into customerTable values ('CU001', 'John', 'j@gmail.com', '22','male', 'day')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into customerTable values ('CU002', 'Maria', 'm@gmail.com', '30','female', 'month')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into customerTable values ('CU003', 'Donald', 'd@gmail.com','25', 'male', 'season')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into customerTable values ('CU004', 'Kris', 'k@gmail.com','20', 'male', 'month')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into customerTable values ('CU005', 'Rebecca', 'r@gmail.com','40', 'female', 'month')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

insertStatement =  """insert into salesTable values ('S001', 'CU001', 'F001', 'E001', 'C001')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into salesTable values ('S002', 'CU002', 'F002', 'E002', 'C002')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into salesTable values ('S003', 'CU003', 'F003', 'E003', 'C003')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into salesTable values ('S004', 'CU004', 'F002', 'E002', 'C002')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into salesTable values ('S005', 'CU005', 'F005', 'E005', 'C005')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

insertStatement =  """insert into rideTable values ('R001', 'Orions Belt', 'South', 'Intense', '35', 'E001')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into rideTable values ('R002', 'Ursa Major', 'West', 'Medium', '20', 'E002')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into rideTable values ('R003', 'Cyrus', 'North', 'Easy', '20', 'E003')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into rideTable values ('R004', 'Cygnus', 'East', 'Easy', '15', 'E004')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into rideTable values ('R005', 'Cassipoeia', 'South', 'Medium', '25', 'E005')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

insertStatement =  """insert into ConcessionsTable values ('C001', 'Mars', 'North','Mexican','E001')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ConcessionsTable values ('C002', 'Mercury', 'North','Western','E002')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ConcessionsTable values ('C003', 'Venus', 'South','Desserts','E003')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ConcessionsTable values ('C004', 'Jupiter', 'West','Sandwiches','E004')""" 
cursor.execute(insertStatement)
insertStatement =  """insert into ConcessionsTable values ('C005', 'Neptune', 'East','Seafood','E005')""" 
cursor.execute(insertStatement)
connectionToDatabase.commit()

cursor.execute('''select * from rideTable ORDER BY waitTime DESC limit 3''')
for row in cursor.fetchall():
  print (row)

cursor.execute('''select concessionID,COUNT(saleID) from salesTable GROUP BY concessionID''')
for row in cursor.fetchall():
  print (row)

cursor.execute('''select * from employeeTable WHERE ExperienceLevel is "Beginner"''')
for row in cursor.fetchall():
  print (row)

('R001', 'Orions Belt', 'South', 'Intense', '35', 'E001')
('R005', 'Cassipoeia', 'South', 'Medium', '25', 'E005')
('R002', 'Ursa Major', 'West', 'Medium', '20', 'E002')
('C001', 1)
('C002', 2)
('C003', 1)
('C005', 1)
('E001', 'Rich', 'Miller', 'Beginner')
('E005', 'Tara', 'Creek', 'Beginner')

# Questions: 
### 1: What are the 3 most popular rides? 
We think that knowing the 3 most popular rides will help us to understand what kinds of rides our customers like the best. This can help us plan if we ever want to invest in new rides we know what types to incorporate in the park. Also, knowing what rides are the most popular, we can figure out where there is more customer “traffic” and we can add more vendors selling food/drinks and toys to maximize profit.
### 2: What are the top 5 concessions sold at the park? 
We decided to explore which of our concessions are most popular in order to better allocate our resources. For example if we see that there are concessions that are significantly more popular, we can sell them at additional locations.  We also may want to advertise more popular concessions and perhaps order more of those concessions to keep up with demand.
## 3: What are the employees with the lowest experience level?
The information extracted from this question is vital to the operations of our amusement park. We need to know which employees do not have much experience so that we can make sure they are working with people who are more experienced. If there are too many low experienced employees working at once, it could cause multiple problems within the operations of the rides and concession stands. They need higher levels working with them to keep things running smoothly.